body { margin: 0; font-family: Arial, sans-serif; color: #a1a1a1; font-size: 16px; background: #ccc; text-align: center; }
body table td { padding: 0; }
body table td p { margin: 0; padding: 0; }
body table td hr { display: block; width: 104px; margin: 0 auto 20px; }

.container { max-width: 480px; margin: 0 auto; background: #fff; }
.container img { display: block; max-width: 100%; }

.logo { display: inline-block; padding: 5px 0; font-size: 0; }
.logo img { display: inline-block; }

.h1 { padding: 25px 15px 15px; margin: 0; font-size: 36px; font-weight: bold; color: #4e3bbc; text-transform: uppercase; }
.h1.h1_dark { color: #666; }
@media only screen and (max-width: 360px) { .h1 { font-size: 30px; } }

.subtitle { padding-bottom: 20px; color: #666; font-size: 18px; font-weight: bold; }

.wrap { width: 320px; margin: 30px auto 40px; }
@media only screen and (max-width: 360px) { .wrap { width: 280px; } }
.wrap span { display: inline-block; vertical-align: middle; }
.wrap button { width: 100%; border: none; height: 50px; outline: none; background: #4e3bbc; color: #fff; font-size: 20px; font-weight: bold; text-transform: uppercase; cursor: pointer; }
.wrap button:hover { background: #41319B; }
.wrap button img { display: inline-block; vertical-align: middle; }

.code { padding: 12px 0 10px; background: #f6f5f8; margin-bottom: 15px; font-size: 16px; color: #444; font-weight: bold; }
.code p { text-transform: uppercase; }

.arr { display: inline-block; vertical-align: middle; }

.message { margin-bottom: 25px; }

.footer { background: #f5f5f5; padding: 15px 35px 95px; font: 11px/18px Tahoma, sans-serif; color: #a7a7a7; }
@media only screen and (max-width: 360px) { .footer { padding: 15px 8px 95px; } }
.footer a { color: #a7a7a7; }
.footer a:hover { text-decoration: none; }
