@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

a { text-decoration: none; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@font-face { font-family: MarkOffcPro; src: url("fonts/MarkOffcPro.eot"); src: url("fonts/MarkOffcPro.eot?#iefix") format("embedded-opentype"), url("fonts/MarkOffcPro.woff2") format("woff2"), url("fonts/MarkOffcPro.woff") format("woff"), url("fonts/MarkOffcPro.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: MarkOffcProBook; src: url("fonts/MarkOffcProBook.eot"); src: url("fonts/MarkOffcProBook.eot?#iefix") format("embedded-opentype"), url("fonts/MarkOffcProBook.woff2") format("woff2"), url("fonts/MarkOffcProBook.woff") format("woff"), url("fonts/MarkOffcProBook.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: MarkOffcProBold; src: url("fonts/MarkOffcProBold.eot"); src: url("fonts/MarkOffcProBold.eot?#iefix") format("embedded-opentype"), url("fonts/MarkOffcProBold.woff2") format("woff2"), url("fonts/MarkOffcProBold.woff") format("woff"), url("fonts/MarkOffcProBold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: MarkOffcProMedium; src: url("fonts/MarkOffcProMedium.eot"); src: url("fonts/MarkOffcProMedium.eot?#iefix") format("embedded-opentype"), url("fonts/MarkOffcProMedium.woff2") format("woff2"), url("fonts/MarkOffcProMedium.woff") format("woff"), url("fonts/MarkOffcProMedium.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: MarkOffcProLight; src: url("fonts/MarkOffcProLight.eot"); src: url("fonts/MarkOffcProLight.eot?#iefix") format("embedded-opentype"), url("fonts/MarkOffcProLight.woff2") format("woff2"), url("fonts/MarkOffcProLight.woff") format("woff"), url("fonts/MarkOffcProLight.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: MarkCompPro-Light; src: url("fonts/MarkCompPro-Light.eot"); src: url("fonts/MarkCompPro-Light.eot?#iefix") format("embedded-opentype"), url("fonts/MarkCompPro-Light.woff2") format("woff2"), url("fonts/MarkCompPro-Light.woff") format("woff"), url("fonts/MarkCompPro-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: MarkCompPro-ExtraLight; src: url("fonts/MarkCompPro-ExtraLight.eot"); src: url("fonts/MarkCompPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/MarkCompPro-ExtraLight.woff2") format("woff2"), url("fonts/MarkCompPro-ExtraLight.woff") format("woff"), url("fonts/MarkCompPro-ExtraLight.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: "MarkOffcPro"; font-size: 12px; line-height: 1.2; }
body.no-scroll { overflow: hidden; }

.h1 { font-family: "MarkCompPro-ExtraLight"; font-size: 60px; color: #666; font-weight: normal; }
@media only screen and (max-width: 600px) { .h1 { font-size: 48px; } }
@media only screen and (max-width: 480px) { .h1 { font-size: 32px; } }

.h2, .h3 { margin-bottom: 20px; font-family: "MarkOffcProLight"; text-transform: uppercase; font-size: 40px; font-weight: normal; color: #212121; }
@media only screen and (max-width: 600px) { .h2, .h3 { font-size: 26px; } }

.h3 { font-size: 28px; }

.clr { *zoom: 1; }
.clr:after { content: " "; display: table; clear: both; }

.center { max-width: 1366px; margin: 0 auto; }

.container { max-width: 1066px; margin: 0 auto; }
@media only screen and (max-width: 1066px) { .container { padding: 0 5px; } }

.form { margin-bottom: 20px; padding: 31px; background: #fff; box-shadow: 0 5px 25px rgba(0, 0, 0, 0.17); }
.form .form__row { display: block; margin-top: 15px; }
.form .form__row > span { display: inline-block; margin-bottom: 5px; font-family: "MarkOffcProBold"; font-size: 16px; color: #444; }
.form .form__row:first-child { margin-top: 0; }
.form .form__title { font-family: "MarkOffcProBold"; font-size: 16px; color: #444; margin-bottom: 15px; }

.input, .textarea { width: 100%; height: 50px; padding: 0 10px; background: #f6f5f8; text-align: center; font-family: "MarkOffcProBold"; font-size: 16px; color: #666; }
.input:-ms-input-placeholder, .textarea:-ms-input-placeholder { font-family: "MarkOffcProBook"; font-size: 16px; color: #666; }
.input:-moz-placeholder, .textarea:-moz-placeholder { font-family: "MarkOffcProBook"; font-size: 16px; color: #666; }
.input::-moz-placeholder, .textarea::-moz-placeholder { font-family: "MarkOffcProBook"; font-size: 16px; color: #666; }
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder { font-family: "MarkOffcProBook"; font-size: 16px; color: #666; }
.input::placeholder, .textarea::placeholder { font-family: "MarkOffcProBook"; font-size: 16px; color: #666; }
.input:focus:-ms-input-placeholder, .textarea:focus:-ms-input-placeholder { font-size: 0; }
.input:focus:-moz-placeholder, .textarea:focus:-moz-placeholder { font-size: 0; }
.input:focus::-moz-placeholder, .textarea:focus::-moz-placeholder { font-size: 0; }
.input:focus::-webkit-input-placeholder, .textarea:focus::-webkit-input-placeholder { font-size: 0; }
.input:focus::placeholder, .textarea:focus::placeholder { font-size: 0; }

.input_white { background: #fff; }

.textarea { padding: 5px 10px; text-align: left; border: none; height: 80px; resize: none; }

.checkbox { position: relative; display: inline-block; margin-top: 15px; font-size: 0; }
.checkbox input[type="checkbox"] { position: absolute; opacity: 0; }
.checkbox span { position: relative; display: inline-block; padding-left: 35px; font-size: 16px; color: #444; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; }
.checkbox span:before { content: ""; position: absolute; top: -3px; left: 0; width: 25px; height: 25px; background: #f6f5f8; }
.checkbox input[type="checkbox"]:checked + span:after { content: ""; position: absolute; top: 2px; left: 5px; font-family: "icomoon"; font-size: 12px; color: #666; }
.checkbox.checkbox_white span:before { background: #fff; }

.btn { height: 50px; width: 100%; background: #4e3bbc; text-align: center; color: #fff; line-height: 0; font-size: 0; font-family: "MarkOffcProBold"; -moz-transition: background 300ms; -o-transition: background 300ms; -webkit-transition: background 300ms; transition: background 300ms; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
.btn span { position: relative; display: inline-block; vertical-align: middle; font-size: 20px; line-height: 1; }
.ie .btn span { top: 2px; }
.btn:hover { background: #4635a9; }
.btn.btn_red { background: #f55600; }
.btn.btn_red:hover { background: #dc4d00; }
.btn.btn_blue { background: #4760a5; }
.btn.btn_blue:hover { background: #3f5693; }
.btn.btn_lightblue { background: #50aaf0; }
.btn.btn_lightblue:hover { background: #399fee; }
.btn.btn_short { width: 200px; text-transform: uppercase; }
.btn .icon-right { position: relative; top: -2px; font-size: 13px; margin-left: 10px; }
.btn .icon-mail, .btn .icon-fb, .btn .icon-tw { font-size: 28px; margin-right: 10px; line-height: 1; }
.btn .icon-link { font-size: 14px; margin-right: 10px; line-height: 1; }

.button { height: 40px; width: 100%; line-height: 40px; text-align: center; background: #d8d8d8; font-family: "MarkOffcProBold"; font-size: 16px; color: #666; -moz-transition: background 300ms; -o-transition: background 300ms; -webkit-transition: background 300ms; transition: background 300ms; }
.button:hover { background: #cbcbcb; }

.count-list { list-style-type: none; counter-reset: list 0; }
.count-list li { position: relative; padding-left: 38px; margin-bottom: 7px; color: #444; }
.count-list li:before { counter-increment: list; content: counter(list) "."; position: absolute; left: 5px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.footer { background: #fff; }
.footer .footer__in { padding: 40px 0 80px; text-align: center; }
.footer .footer__in a { font-family: "MarkOffcProBold"; font-size: 14px; color: #666; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.footer .footer__in a:hover { color: #4d4d4d; }

.promo { position: relative; padding: 80px 30px 50px; }
.promo:before { content: ""; position: absolute; top: 0; bottom: 0; right: 0; left: 0; background: #efefef url(../img/img1.png) 0 100% no-repeat; z-index: -1; }
@media only screen and (max-width: 1100px) { .promo { padding: 30px 5px; }
  .promo:before { opacity: 0.1; } }
.promo.promo_dashboard { min-height: 300px; }
.promo.promo_dashboard:before { background: #76a9be url(../img/img2.png) 5% 35% no-repeat; }
.promo.promo_dashboard .promo__right { margin-bottom: 0; }
.promo.promo_dashboard .promo__right .h1, .promo.promo_dashboard .promo__right .promo__text { color: #fff; }
@media only screen and (max-width: 1100px) { .promo.promo_dashboard { padding: 300px 0 0; }
  .promo.promo_dashboard:before { opacity: 1; background: #76a9be url(../img/img2.png) 52% 35% no-repeat; }
  .promo.promo_dashboard .promo__right { padding: 20px 0; background: #FFF; }
  .promo.promo_dashboard .promo__right .h1, .promo.promo_dashboard .promo__right .promo__text { color: #666; }
  .promo.promo_dashboard .promo__right .promo__text { margin-bottom: 0; } }
@media only screen and (max-width: 480px) { .promo.promo_dashboard { min-height: 1px; padding: 140px 0 0; }
  .promo.promo_dashboard:before { background: #76a9be url(../img/img2.png) 50% -70px no-repeat; -webkit-background-size: 80% auto; -o-background-size: 80% auto; background-size: 80% auto; } }
.promo .promo__right { float: right; width: 50%; margin-bottom: 150px; text-align: center; }
.promo .promo__right .h1 { margin-bottom: 15px; }
@media only screen and (max-width: 1100px) { .promo .promo__right { float: none; width: 100%; margin-bottom: 30px; } }
.promo .promo__in { max-width: 340px; margin: 0 auto; }
.promo .promo__text { font-size: 24px; font-family: "MarkCompPro-Light"; color: #666; max-width: 490px; margin: 0 auto 30px; }
@media only screen and (max-width: 600px) { .promo .promo__text { font-size: 20px; } }
@media only screen and (max-width: 480px) { .promo .promo__text { font-size: 18px; } }
.promo .promo__user { height: 70px; line-height: 70px; margin-bottom: 20px; text-align: center; font-family: "MarkOffcProBold"; font-size: 14px; color: #666; background: #f9f9f9; }

.share { max-width: 340px; padding: 31px; background: #fff; border: 1px solid #e1e1e1; }
@media only screen and (max-width: 600px) { .share { padding: 15px; } }
.promo .share { box-shadow: 0 5px 25px rgba(0, 0, 0, 0.17); }
.share.disabled { background: transparent; pointer-events: none; box-shadow: none; }
.share.disabled .btn { background: #e8e8e8; opacity: 0.6; }
.share .btn { margin-top: 15px; }
.share .btn:first-child { margin-top: 0; }

@media only screen and (max-width: 900px) { .dashboard { display: -webkit-flex; display: flex; -webkit-flex-direction: column; flex-direction: column; } }
.dashboard .dashboard__topper { padding: 25px 0; background: #f2f2f2; }
@media only screen and (max-width: 900px) { .dashboard .dashboard__topper { -webkit-order: 2; order: 2; } }
.dashboard .dashboard__in { padding-top: 55px; }
.dashboard .dashboard__in .share { float: right; margin-left: 30px; }
.dashboard .dashboard__in .dashboard__table { overflow: hidden; }
@media only screen and (max-width: 900px) { .dashboard .dashboard__in { -webkit-order: 1; order: 1; padding-top: 0; }
  .dashboard .dashboard__in .share { float: none; margin: 0 auto 25px; }
  .dashboard .dashboard__in .dashboard__table { overflow: visible; width: 100%; }
  .dashboard .dashboard__in .dashboard__table .h3 { text-align: center; } }

.stats { text-align: justify; line-height: 0; font-size: 0; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.stats:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.stats .stats__item { display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; }
@media only screen and (max-width: 900px) { .stats .stats__item { width: 50%; margin-bottom: 20px; padding-left: 50px; } }
@media only screen and (max-width: 600px) { .stats .stats__item { width: 100%; } }
.stats .stats__item .icon-shares, .stats .stats__item .icon-man { font-size: 38px; color: #4e3bbc; margin-right: 20px; }
.stats .stats__item .icon-money { font-size: 50px; color: #4e3bbc; margin-right: 20px; }
.stats .stats__item .icon-hand { font-size: 46px; color: #4e3bbc; margin-right: 20px; }
.stats .stats__item .stats__text { display: inline-block; vertical-align: middle; margin-right: 20px; font-size: 16px; font-family: "MarkOffcProBook"; color: #666; }
.stats .stats__item .stats__counter { display: inline-block; vertical-align: middle; font-size: 28px; font-family: "MarkOffcProLight"; color: #666; }

.shares .shares__item { *zoom: 1; padding: 16px 10px 18px; border-top: 1px solid #f0f0f0; }
.shares .shares__item:after { content: " "; display: table; clear: both; }
.shares .shares__item:first-child { border-width: 2px; }
.shares .shares__left { float: left; *zoom: 1; }
.shares .shares__left:after { content: " "; display: table; clear: both; }
.shares .shares__right { float: right; width: 100px; }
.shares .shared__info { float: left; width: 365px; }
@media only screen and (max-width: 480px) { .shares .shared__info { width: 100%; } }
.shares .shared__info a { font-family: "MarkOffcProBold"; font-size: 16px; color: #666; }
.shares .shared__info p { font-size: 14px; color: #b3b3b3; font-family: "MarkOffcProBook"; }
@media only screen and (max-width: 900px) { .shares .shared__info p { padding-top: 10px; } }
.shares .shared__status { float: left; padding-top: 20px; font-size: 14px; color: #b3b3b3; font-family: "MarkOffcProMedium"; }
@media only screen and (max-width: 900px) { .shares .shared__status { padding-top: 0; } }

.overlay { position: fixed; top: 0; bottom: 0; right: 0; left: 0; overflow-y: auto; text-align: center; font-size: 0; }
.overlay:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.overlay > i { position: absolute; top: 0; bottom: 0; right: 0; left: 0; background: rgba(255, 255, 255, 0.9); }

.popup { position: relative; display: inline-block; vertical-align: middle; max-width: 900px; margin: 1%; background: #fff; box-shadow: 0 5px 25px rgba(0, 0, 0, 0.17); }
.popup.popup_small { width: 640px; }
@media only screen and (max-width: 650px) { .popup.popup_small { width: 98%; } }
@media only screen and (max-width: 480px) { .popup.popup_small { margin: 2%; width: 96%; } }
@media only screen and (max-width: 320px) { .popup.popup_small { margin: 3%; width: 94%; } }
.popup .popup__close { position: absolute; top: 11px; right: 11px; background: transparent; }
.popup .popup__close span { font-size: 30px; color: #212121; opacity: 0.5; padding-left: 1px; }
.popup .popup__topper { padding: 50px 40px 50px 200px; background: #eac6ae url(../img/img3.png) -50px 50% no-repeat; }
.popup .popup__topper .h1 { font-size: 44px; color: #6a3d20; }
.popup .popup__topper p { color: #6a3d20; font-size: 18px; font-family: "MarkCompPro-Light"; }
@media only screen and (max-width: 640px) { .popup .popup__topper { padding: 140px 0 0; text-align: center; background-position: 50% 50%; }
  .popup .popup__topper .popup_-topperIn { padding: 20px 10px 0; background: #fff; }
  .popup .popup__topper .popup_-topperIn .h1 { font-size: 32px; color: #666; margin-bottom: 10px; }
  .popup .popup__topper .popup_-topperIn p { color: #666; } }
.popup .popup__in { padding: 30px; font-size: 16px; color: #212121; text-align: left; }
@media only screen and (max-width: 480px) { .popup .popup__in { padding: 15px; } }
.popup .popup__in article p, .popup .popup__in article ul, .popup .popup__in article ol { margin-bottom: 25px; }
.popup .popup__in .form { box-shadow: none; padding: 0; margin-bottom: 0; }
.popup .popup__in .form .input { text-align: left; }
.popup .popup__in .share { border: none; padding: 0 31px; margin: 0 auto; }
@media only screen and (max-width: 480px) { .popup .popup__in .share { padding: 0; } }

.personal-link > span { display: inline-block; margin-bottom: 3px; font-family: "MarkOffcProMedium"; font-size: 16px; color: #212121; }
.personal-link .personal-link__in { *zoom: 1; }
.personal-link .personal-link__in:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 480px) { .personal-link .personal-link__in { display: -webkit-flex; display: flex; -webkit-flex-direction: column; flex-direction: column; } }
.personal-link .personal-link__right { float: right; width: 105px; margin-left: 11px; }
.personal-link .personal-link__right .btn { height: 40px; font-size: 16px; }
@media only screen and (max-width: 480px) { .personal-link .personal-link__right { -webkit-order: 2; order: 2; float: none; width: 100%; margin-left: 0; margin-bottom: 10px; } }
.personal-link .personal-link__left { overflow: hidden; }
@media only screen and (max-width: 480px) { .personal-link .personal-link__left { overflow: visible; -webkit-order: 1; order: 1; } }
.personal-link .personal-link__left > p { font-size: 14px; }
.personal-link .personal-link__link { width: 100%; margin-bottom: 15px; height: 40px; line-height: 40px; padding: 0 12px; background: #f6f5f8; overflow: hidden; word-break: break-all; font-family: "MarkOffcProMedium"; color: #666; }

.breadcrumbs { padding: 16px 30px; background: #fbfbfb; text-align: left; }

.back { position: relative; display: inline-block; padding-left: 20px; font-size: 16px; color: #666; font-family: "MarkOffcPro"; }
.back:before { content: ""; position: absolute; top: 2px; left: 0; margin-right: 10px; font-family: "icomoon"; font-size: 12px; color: #999; }

.claim { *zoom: 1; padding: 100px 0; background: #f5f4f4; background-repeat: no-repeat; background-position: -200px 100%; }
.claim:after { content: " "; display: table; clear: both; }
.claim.claim_brown { background: #e6c2aa; background-repeat: no-repeat; background-position: -100px 100%; }
.claim.claim_brown .claim__in .h2 { color: #6a3d20; }
.claim.claim_brown .claim__in > p { color: #6a3d20; }
.claim p { color: #666; font-size: 18px; font-family: "MarkCompPro-Light"; }
@media only screen and (max-width: 640px) { .claim { padding: 240px 0 0; text-align: center; background-position: 50% 0; -webkit-background-size: 80% auto; -o-background-size: 80% auto; background-size: 80% auto; }
  .claim.claim_brown { background-position: 50% 0; -webkit-background-size: 80% auto; -o-background-size: 80% auto; background-size: 80% auto; } }
@media only screen and (max-width: 480px) { .claim { padding: 140px 0 0; }
  .claim.claim_brown { background-position: 50% -40px; } }
.claim .claim__in { float: right; margin-right: 13%; width: 280px; }
.claim .claim__in .h2 { margin: 0 -20px 20px; font-family: "MarkCompPro-ExtraLight"; font-size: 38px; text-transform: none; color: #666; }
.claim .claim__in .form { max-width: 280px; margin: 0 auto; padding: 31px 0; background: transparent; box-shadow: none; text-align: left; }
@media only screen and (max-width: 640px) { .claim .claim__in { width: 100%; padding-top: 10px; background: #fff; margin-right: 0; }
  .claim .claim__in .h2 { max-width: 280px; margin: 0 auto 20px; }
  .claim .claim__in .form .input { background: #f6f5f8; }
  .claim .claim__in .form .checkbox span:before { background: #f6f5f8; } }
.claim .claim__code { padding: 20px 0 15px; background: #fff; text-align: center; font-size: 16px; color: #666; }
.claim .claim__code p { padding-top: 2px; color: #666; text-transform: uppercase; font-family: "MarkOffcProMedium"; }
