// fonts
// MarkOffcPro font-family:
+font(MarkOffcPro, MarkOffcPro)  
=offs
	font-family: "MarkOffcPro"
+font(MarkOffcProBook, MarkOffcProBook)  
=offs-book
	font-family: "MarkOffcProBook"
+font(MarkOffcProBold, MarkOffcProBold)  
=offs-b
	font-family: "MarkOffcProBold"
+font(MarkOffcProMedium, MarkOffcProMedium)  
=offs-m
	font-family: "MarkOffcProMedium"	
+font(MarkOffcProLight, MarkOffcProLight)  
=offs-l
	font-family: "MarkOffcProLight"

// MarkCompPro font-family:
+font(MarkCompPro-Light, MarkCompPro-Light)  
=comp-l
	font-family: "MarkCompPro-Light"
+font(MarkCompPro-ExtraLight, MarkCompPro-ExtraLight)  
=comp-el
	font-family: "MarkCompPro-ExtraLight"

// mixins
=justify
	text-align: justify
	line-height: 0
	font-size: 0
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
=justify-child
	display: inline-block
	line-height: normal
	vertical-align: top
	font-size: 14px

// common styles:
body
	+offs
	font-size: 12px 
	line-height: 1.2
	&.no-scroll
		overflow: hidden

// titles
.h1
	+comp-el
	font-size: 60px
	color: #666
	font-weight: normal
	+r(600)
		font-size: 48px
	+r(480)
		font-size: 32px	
.h2, .h3
	margin-bottom: 20px
	+offs-l
	text-transform: uppercase
	font-size: 40px
	font-weight: normal
	color: #212121
	+r(600)
		font-size: 26px
.h3
	font-size: 28px 
// common blocks
.clr
	+clr     
.center
	max-width: 1366px
	margin: 0 auto
.container
	max-width: 1066px
	margin: 0 auto 
	+r(1066)
		padding: 0 5px 
// form
.form
	margin-bottom: 20px
	padding: 31px 
	background: #fff
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.17)
	.form__row
		display: block
		margin-top: 15px
		& > span
			display: inline-block
			margin-bottom: 5px
			+offs-b
			font-size: 16px
			color: #444
		&:first-child
			margin-top: 0
	.form__title
		+offs-b
		font-size: 16px
		color: #444
		margin-bottom: 15px 		 
.input, .textarea
	width: 100%
	height: 50px
	padding: 0 10px 
	background: #f6f5f8
	text-align: center
	+offs-b
	font-size: 16px
	color: #666
	+placeholder
		+offs-book
		font-size: 16px
		color: #666
	&:focus
		+placeholder
			font-size: 0
.input_white
	background: #fff 
.textarea
	padding: 5px 10px 
	text-align: left
	border: none
	height: 80px 
	resize: none
.checkbox
	position: relative
	display: inline-block
	margin-top: 15px
	font-size: 0
	input[type="checkbox"]
		position: absolute
		opacity: 0	
	span
		position: relative
		display: inline-block
		padding-left: 35px
		font-size: 16px
		color: #444
		+nosel
		cursor: pointer
		&:before
			content: ""
			position: absolute
			top: -3px
			left: 0
			width: 25px
			height: 25px
			background: #f6f5f8
	input[type="checkbox"]:checked + span
		&:after
			content: "\e608"
			position: absolute
			top: 2px
			left: 5px	
			font-family: 'icomoon'
			font-size: 12px
			color: #666
	&.checkbox_white
		span
			&:before
				background: #fff 		 		  	
.btn
	height: 50px
	width: 100%
	background: #4e3bbc
	text-align: center
	color: #fff
	line-height: 0
	font-size: 0 
	+offs-b
	+tr(background 300ms)
	span
		position: relative
		display: inline-block
		vertical-align: middle
		font-size: 20px 
		line-height: 1
	.ie &
		span
			top: 2px	
	&:hover
		background: darken(#4e3bbc, 5%) 
	&.btn_red
		background: #f55600
		&:hover
			background: darken(#f55600, 5%)	
	&.btn_blue
		background: #4760a5
		&:hover
			background: darken(#4760a5, 5%)	 	
	&.btn_lightblue
		background: #50aaf0
		&:hover
			background: darken(#50aaf0, 5%)
	&.btn_short
		width: 200px
		text-transform: uppercase 		
	.icon-right
		position: relative
		top: -2px
		font-size: 13px
		margin-left: 10px
	.icon-mail, .icon-fb, .icon-tw
		font-size: 28px
		margin-right: 10px
		line-height: 1	
	.icon-link
		font-size: 14px
		margin-right: 10px
		line-height: 1
.button
	height: 40px
	width: 100%
	line-height: 40px
	text-align: center
	background: #d8d8d8
	+offs-b
	font-size: 16px
	color: #666
	+tr(background 300ms)
	&:hover
		background: darken(#d8d8d8, 5%)
.count-list
	list-style-type: none
	counter-reset: list 0
	li
		position: relative
		padding-left: 38px
		margin-bottom: 7px
		color: #444
		&:before
			counter-increment: list
			content: counter(list) "."
			position: absolute
			left: 5px		 					









































































































