// Normally mainpage styles
.footer
	background: #fff 
	.footer__in
		padding: 40px 0 80px 
		text-align: center
		a
			+offs-b
			font-size: 14px
			color: #666
			+tr(color 200ms)
			&:hover
				color: darken(#666, 10%)

// promo
.promo
	position: relative
	padding: 80px 30px 50px
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		background: #efefef url(../img/img1.png) 0 100% no-repeat
		z-index: -1
	+r(1100)
		padding: 30px 5px 
		&:before
			opacity: 0.1 	
	&.promo_dashboard
		min-height: 300px
		&:before
			background: #76a9be url(../img/img2.png) 5% 35% no-repeat
		.promo__right
			margin-bottom: 0
			.h1, .promo__text
				color: #fff			
		+r(1100)
			padding: 300px 0 0
			&:before
				opacity: 1
				background: #76a9be url(../img/img2.png) 52% 35% no-repeat 
			.promo__right
				padding: 20px 0 
				background: #FFF
				.h1, .promo__text
					color: #666
				.promo__text
					margin-bottom: 0
		+r(480)
			min-height: 1px
			padding: 140px 0 0 
			&:before
				background: #76a9be url(../img/img2.png) 50% -70px no-repeat
				-webkit-background-size: 80% auto 
				-o-background-size: 80% auto 
				background-size: 80% auto 					 	
	.promo__right
		float: right
		width: 50%
		margin-bottom: 150px
		text-align: center
		.h1
			margin-bottom: 15px
		+r(1100)
			float: none
			width: 100%
			margin-bottom: 30px  
	.promo__in
		max-width: 340px
		margin: 0 auto 	
	.promo__text
		font-size: 24px
		+comp-l
		color: #666
		max-width: 490px
		margin: 0 auto 30px
		+r(600)
			font-size: 20px
		+r(480)
			font-size: 18px	
	.promo__user
		height: 70px 
		line-height: 70px
		margin-bottom: 20px
		text-align: center
		+offs-b
		font-size: 14px
		color: #666	
		background: #f9f9f9  
  					
.share
	max-width: 340px 
	padding: 31px 
	background: #fff
	border: 1px solid #e1e1e1
	+r(600)
		padding: 15px 
	.promo &
		box-shadow: 0 5px 25px rgba(0, 0, 0, 0.17) 
	&.disabled
		background: transparent 
		pointer-events: none
		box-shadow: none
		.btn
			background: #e8e8e8
			opacity: 0.6 
	.btn
		margin-top: 15px
		&:first-child
			margin-top: 0		
.dashboard
	+r(900)
		display: -webkit-flex
		display: flex
		-webkit-flex-direction: column
		flex-direction: column
	.dashboard__topper
		padding: 25px 0
		background: #f2f2f2
		+r(900)
			-webkit-order: 2
			order: 2
	.dashboard__in
		padding-top: 55px	
		.share
			float: right
			margin-left: 30px
		.dashboard__table
			overflow: hidden
		+r(900)
			-webkit-order: 1
			order: 1
			padding-top: 0
			.share
				float: none
				margin: 0 auto 25px
			.dashboard__table
				overflow: visible
				width: 100% 
				.h3
					text-align: center
.stats
	+justify
	.stats__item
		+justify-child
		+r(900)
			width: 50%
			margin-bottom: 20px
			padding-left: 50px 
		+r(600)
			width: 100% 	
		.icon-shares, .icon-man
			font-size: 38px
			color: #4e3bbc
			margin-right: 20px
		.icon-money
			font-size: 50px
			color: #4e3bbc
			margin-right: 20px
		.icon-hand
			font-size: 46px
			color: #4e3bbc
			margin-right: 20px		
		.stats__text
			display: inline-block
			vertical-align: middle
			margin-right: 20px
			font-size: 16px
			+offs-book
			color: #666
		.stats__counter
			display: inline-block
			vertical-align: middle
			font-size: 28px
			+offs-l
			color: #666 			
.shares
	.shares__item
		+clr
		padding: 16px 10px 18px
		border-top: 1px solid #f0f0f0
		&:first-child
			border-width: 2px 			
	.shares__left
		float: left
		+clr
	.shares__right
		float: right
		width: 100px 
	.shared__info
		float: left
		width: 365px
		+r(480)
			width: 100% 
		a
			+offs-b
			font-size: 16px
			color: #666
		p
			font-size: 14px
			color: #b3b3b3
			+offs-book
			+r(900)
				padding-top: 10px
	.shared__status
		float: left
		padding-top: 20px
		font-size: 14px
		color: #b3b3b3
		+offs-m
		+r(900)
			padding-top: 0
			
// popups
.overlay
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	overflow-y: auto
	+vertical
	& > i
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		background: rgba(#fff, 0.9) 
.popup
	position: relative
	display: inline-block
	vertical-align: middle
	max-width: 900px
	margin: 1%
	background: #fff
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.17)
	&.popup_small
		width: 640px
	+r(650)
		&.popup_small
			width: 98%
	+r(480)
		&.popup_small
			margin: 2%
			width: 96%
	+r(320)
		&.popup_small
			margin: 3%
			width: 94%		  			
	.popup__close
		position: absolute
		top: 11px
		right: 11px
		background: transparent
		span
			font-size: 30px
			color: #212121 
			opacity: 0.5
			padding-left: 1px  
	.popup__topper
		padding: 50px 40px 50px 200px
		background: #eac6ae url(../img/img3.png) -50px 50% no-repeat
		.h1
			font-size: 44px
			color: #6a3d20
		p
			color: #6a3d20
			font-size: 18px
			+comp-l 
		+r(640)
			padding: 140px 0 0
			text-align: center
			background-position: 50% 50% 
			.popup_-topperIn
				padding: 20px 10px 0 
				background: #fff
				.h1
					font-size: 32px
					color: #666
					margin-bottom: 10px
				p
					color: #666	  			
	.popup__in
		padding: 30px 
		font-size: 16px
		color: #212121
		text-align: left
		+r(480)
			padding: 15px 
		article
			p, ul, ol
				margin-bottom: 25px
		.form
			box-shadow: none
			padding: 0
			margin-bottom: 0
			.input
				text-align: left
		.share
			border: none
			padding: 0 31px 
			margin: 0 auto
			+r(480) 	
				padding: 0 			
.personal-link
	& > span
		display: inline-block
		margin-bottom: 3px 
		+offs-m
		font-size: 16px
		color: #212121	 
	.personal-link__in				 
		+clr
		+r(480)
			display: -webkit-flex
			display: flex
			-webkit-flex-direction: column
			flex-direction: column
	.personal-link__right
		float: right
		width: 105px
		margin-left: 11px 
		.btn
			height: 40px
			font-size: 16px
		+r(480)
			-webkit-order: 2
			order: 2
			float: none
			width: 100%
			margin-left: 0
			margin-bottom: 10px  	
	.personal-link__left
		overflow: hidden
		+r(480)
			overflow: visible
			-webkit-order: 1
			order: 1
		& > p
			font-size: 14px
	.personal-link__link
		width: 100% 
		margin-bottom: 15px
		height: 40px
		line-height: 40px
		padding: 0 12px 
		background: #f6f5f8
		overflow: hidden
		word-break: break-all
		+offs-m
		color: #666
.breadcrumbs
	padding: 16px 30px
	background: #fbfbfb
	text-align: left
.back
	position: relative
	display: inline-block
	padding-left: 20px
	font-size: 16px
	color: #666
	+offs
	&:before
		content: "\e600" 
		position: absolute
		top: 2px
		left: 0
		margin-right: 10px
		font-family: 'icomoon'
		font-size: 12px
		color: #999	
	 				  				
.claim
	+clr
	padding: 100px 0 
	background: #f5f4f4
	background-repeat: no-repeat
	background-position: -200px 100%
	&.claim_brown
		background: #e6c2aa
		background-repeat: no-repeat
		background-position: -100px 100%
		.claim__in
			.h2
				color: #6a3d20
			& > p
				color: #6a3d20	 
	p
		color: #666
		font-size: 18px
		+comp-l 
	+r(640)
		padding: 240px 0 0
		text-align: center
		background-position: 50% 0
		-webkit-background-size: 80% auto 
		-o-background-size: 80% auto 
		background-size: 80% auto
		&.claim_brown
			background-position: 50% 0
			-webkit-background-size: 80% auto 
			-o-background-size: 80% auto 
			background-size: 80% auto
	+r(480)
		padding: 140px 0 0
		&.claim_brown
			background-position: 50% -40px		
	.claim__in
		float: right
		margin-right: 13%
		width: 280px
		.h2
			margin: 0 -20px 20px 
			+comp-el
			font-size: 38px
			text-transform: none
			color: #666
		.form
			max-width: 280px
			margin: 0 auto 
			padding: 31px 0
			background: transparent
			box-shadow: none
			text-align: left
		+r(640)
			width: 100%
			padding-top: 10px
			background: #fff
			margin-right: 0 
			.h2
				max-width: 280px
				margin: 0 auto 20px
			.form
				.input
					background: #f6f5f8
				.checkbox
					span
						&:before
							background: #f6f5f8	 	
	.claim__code
		padding: 20px 0 15px
		background: #fff
		text-align: center
		font-size: 16px
		color: #666
		p
			padding-top: 2px
			color: #666
			text-transform: uppercase
			+offs-m 		  	
		
		 				 				  				